<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="Url" value="https://query2.finance.yahoo.com/v7/finance/options/{0}?date={1}"/>
    <add key="Symbols" value="appl,spy,qqq,fb,baba"/>
    <add key="RiskPercentage" value="10"/>
    <add key="LotSize" value="10"/>
    <add key="PutThreshold" value="400"/>
    <add key="CallThreshold" value="300"/>
  </appSettings>
</configuration>