<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="Url" value="https://query2.finance.yahoo.com/v7/finance/options/{0}?date={1}"/>
    <add key="Symbols" value="AAL,AAPL,ABX,AIG,AMZN,APC,AXP,BA,BABA,BAC,BBY,BIDU,C,CAT,CMCSA,CMG,COF,COP,COST,CRM,CSCO,CVS,CVX,DDD,DIA,DIS,EBAY,EEM,EWJ,EWW,EWZ,FB,FCX,FSLR,FXE,FXI,FXY,GDX,GE,GG,GILD,GLD,GM,GNC,GOOGL,GPRO,GS,HAL,HD,HLF,HPQ,IBB,IBM,INTC,IWM,IYR,JCP,JNJ,JNPR,JPM,KO,LOW,LVS,MA,MCD,MON,MRK,MS,MSFT,MU,NCR,NFLX,OIH,ORCL,P,PBR,BKNG,PFE,PG,QCOM,QQQ,RIG,RSX,SBUX,SLB,SLV,SMH,SPY,T,TBT,TLT,TSLA,TWTR,UAL,UNG,UNP,UPS,USO,UVXY,V,VLO,VXX,VZ,WBA,WFC,WMB,WMT,X,XBI,XHB,XLE,XLF,XLU,XLV,XOM,XOP,XRT,YELP,YUM,ZNGA,WYNN,URBN,TRIP,TGT,NKE,KSS,KORS,GRPN,GPS,EXPE,EFA,DECK,DE,ADBE,AKAM,BX"/>
    <add key="RiskPercentage" value="10"/>
    <add key="LotSize" value="10"/>
    <add key="PutThreshold" value="300"/>
    <add key="CallThreshold" value="200"/>
    <add key="VolumeThreshold" value="20"/>
  </appSettings>
</configuration>