<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="Url" value="https://query2.finance.yahoo.com/v7/finance/options/{0}?date={1}"/>
    
    <add key="Symbols" value="AAPL,FB,QQQ,BABA,SPY,MSFT,TWTR"/>
    
    <!-- Optionalpha watchlist -->
    <!--<add key="Symbols" value="AAL,AAPL,ABX,AIG,AMZN,APC,AXP,BA,BABA,BAC,BBY,BIDU,C,CAT,CMCSA,CMG,COF,COP,COST,CRM,CSCO,CVS,CVX,DDD,DIA,DIS,EBAY,EEM,EWJ,EWW,EWZ,FB,FCX,FSLR,FXE,FXI,FXY,GDX,GE,GG,GILD,GLD,GM,GNC,GOOGL,GPRO,GS,HAL,HD,HLF,HPQ,IBB,IBM,INTC,IWM,IYR,JCP,JNJ,JNPR,JPM,KO,LOW,LVS,MA,MCD,MON,MRK,MS,MSFT,MU,NCR,NFLX,OIH,ORCL,P,PBR,BKNG,PFE,PG,QCOM,QQQ,RIG,RSX,SBUX,SLB,SLV,SMH,SPY,T,TBT,TLT,TSLA,TWTR,UAL,UNG,UNP,UPS,USO,UVXY,V,VLO,VXX,VZ,WBA,WFC,WMB,WMT,X,XBI,XHB,XLE,XLF,XLU,XLV,XOM,XOP,XRT,YELP,YUM,ZNGA,WYNN,URBN,TRIP,TGT,NKE,KSS,KORS,GRPN,GPS,EXPE,EFA,DECK,DE,ADBE,AKAM,BX"/>-->
    
    <!-- Top 100 stocks -->
    <!--<add key="Symbols" value="AAPL,MU,BAC,TSLA,AMD,GE,AMAT,NVDA,CHK,BIDU,FB,BABA,NXPI,AMZN,ZNGA,C,F,FOXA,NFLX,MGM,BA,TWX,WMT,JPM,SNAP,CSCO,DE,TWTR,MSFT,INTC,JD,T,CPB,M,QCOM,PYPL,ABX,GOOGL,GS,SQ,PBR,X,MDLZ,WHR,FCX,CAT,GM,CELG,CLF,WFC,GPRO,VRX,DO,GILD,V,GOOG,JNJ,DWDP,ETP,HD,WLL,DIS,GME,ATVI,CMCSA,ECA,VZ,TEVA,AA,LRCX,ABBV,SDRL,BP,JCP,UAA,RIG,XOM,HAL,BBBY,ESRX,CRM,IBM,ROKU,MS,MRK,JWN,OXY,LUV,NWL,ORCL,COST,VALE,IMMU,HMNY,STX,ITUB,CMG,HLF,AKRX,WFT" />-->
    
    <!-- Top 100 ETFs -->
    <!--<add key="Symbols" value="SPY,QQQ,IWM,EEM,VXX,EFA,EWZ,HYG,SMH,XLF,TLT,GLD,UVXY,GDX,XBI,FXI,XOP,XIU.TO,USO,KRE,SLV,XLE,DIA,XRT,ZEB.TO,ZDM.TO,XLI,XLU,XLP,XLK,EWW,NUGT,OIH,TBT,XHB,IEF,XFN.TO,DUST,JNUG,XLV,IYR,SVXY,FEZ,TZA,XLY,EMB,GDXJ,UNG,TQQQ,XME,IBB,FXE,LQD,FAS,VWO,TNA,RSX,LABU,SQQQ,EPI,JDST,DXJ,UUP,XLB,UCO,SDS,UPRO,XEG.TO,GUSH,SPXU,QID,XES,HEDJ,SPXL,ERX,TMV,KBE,URA,BRZU,DRIP,SCO,FXY,AMLP,EWJ,SOXL,EWY,EDC,BOIL,ITB,ASHR,DBA,FAZ,SPXS,SSO,QLD,GREK,LABD,EWU,TMF,IWB" />-->
    
    <add key="RiskPercentage" value="10"/>
    <add key="LotSize" value="10"/>
    <add key="PutThreshold" value="200"/>
    <add key="CallThreshold" value="200"/>
    <add key="MaxMargin" value="5000"/>
    <add key="VolumeThreshold" value="20"/>
    <add key="BidAskThreshold" value="20"/>
  </appSettings>
</configuration>